<%- include("template/header.ejs") %>

    <h1>Inventario Pygmalion</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, inventore harum. Numquam ut unde officia,
        voluptas optio odit consequatur ab ipsam ducimus impedit reprehenderit dolorum. Veniam quod blanditiis doloribus
        totam!</p>
    </body>

    </html>