*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}
body header {
  margin: 2rem;
}
body header nav {
  display: flex;
  justify-content: space-between;
}
body header nav ul {
  display: flex;
  list-style: none;
}
body header nav ul p {
  background-color: #1397d5;
  border: 2px solid #95c11f;
  margin: 1rem;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  padding: 10px 40px;
}
body header nav ul p:hover {
  background-color: #95c11f;
  margin: 1rem;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 10px 40px;
}
body header nav ul a {
  text-decoration: none;
  color: #fff;
}
body header nav img {
  width: 300px;
  height: auto;
}
body h1 {
  text-align: center;
  margin: 1rem 2rem;
}

@media (max-width: 576px) {
  body {
    margin: 10px;
    padding: 10px;
  }
  body header {
    margin: 1rem;
  }
  body header nav {
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  body header nav ul {
    display: flex;
    list-style: none;
    /* :nth-child(3){
      background-color: red;
      :nth-child(1){
        background-color: red;
        margin: 0;
        padding: 0;
      }
    } */
  }
  body header nav ul p {
    background-color: #1397d5;
    border: 3px solid #95c11f;
    width: 100%;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 0.5rem;
  }
  body header nav ul a {
    text-decoration: none;
    color: #fff;
    margin: 0.5rem;
  }
}
h2 {
  margin-left: 30px;
}

.tablaproductos {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.tablaproductos table {
  width: 100vw;
  text-align: left;
  margin: 0px 30px;
  border-collapse: collapse;
}
.tablaproductos table th, .tablaproductos table td {
  padding: 15px;
}
.tablaproductos table thead {
  background-color: #1397d5;
  border-bottom: solid 5px #95c11f;
  color: #fff;
}
.tablaproductos table tr:nth-child(even) {
  background-color: #dadada;
}
.tablaproductos table tr:hover td {
  background-color: #95c11f;
  color: #fff;
}
.tablaproductos table .editaricon {
  width: 30px;
}

@media screen and (min-width: 320px) {
  .tablaproductos {
    width: 100vw;
    /*   table {
          display: block;
          overflow-x: auto;
        } */
  }
}
.cre h2 {
  text-align: center;
  margin: 0;
}

.crearprod {
  display: flex;
  justify-content: center;
}
.crearprod form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7px 34px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 34px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 34px -9px rgba(0, 0, 0, 0.75);
}
.crearprod form :nth-child(1) {
  padding-top: 0;
}
.crearprod form input {
  border: none;
  border-bottom: solid 1px #95c11f;
  padding: 15px;
  text-align: center;
}
.crearprod form button {
  margin-top: 20px;
  background-color: #1397d5;
  border: solid 3px #95c11f;
  font-family: "Nunito", sans-serif;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.crearprod form button:hover {
  background-color: #95c11f;
  cursor: pointer;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
