@import"variables";

header{
    margin: 2rem;    
    nav {
        display: flex;
        justify-content: space-between;
        
       
        
        ul{
            display: flex;
             
            list-style: none;
         

            p{
                background-color:$colorpal;
                border: 3px solid $colorsec;
                margin: 1rem;
                border-radius: 10px;
                font-family: $robot;
                font-size: 1rem;
                padding: 10px 10px;

            }
            p:hover{
                background-color: $colorsec;
                border: 3px solid $colorpal;
                margin: 1rem;
                border-radius: 10px;
                font-family: $robot;
                font-size: 1rem;
                padding: 10px 10px;
            }


            a{
                text-decoration: none;
                color: #fff;

            }
            
        }
        
    img{
        width: 300px;
        height: auto;
    }
}


}